<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="sistema" transaction-type="JTA">
        <jta-data-source>sistema</jta-data-source>
                <class>portal.entidades.AsiDetalleHorasExtras</class>
		<class>portal.entidades.AsiDetalleVacacion</class>
		<class>portal.entidades.AsiEstadoVacacion</class>
		<class>portal.entidades.AsiFeriado</class>
		<class>portal.entidades.AsiGrupoIntervalo</class>
		<class>portal.entidades.AsiGrupoMotivo</class>
		<class>portal.entidades.AsiMotivo</class>
		<class>portal.entidades.AsiNovedadDetalle</class>
		<class>portal.entidades.AsiPermisosVacacionHext</class>
		<class>portal.entidades.AsiVacacion</class>
		<class>portal.entidades.AsiValidaNomina</class>
		<class>portal.entidades.GenAccionEmpleadoDepa</class>
		<class>portal.entidades.GenAccionMotivoEmpleado</class>
		<class>portal.entidades.GenAnio</class>
		<class>portal.entidades.GenArea</class>
		<class>portal.entidades.GenAreaCargoJerarquia</class>
		<class>portal.entidades.GenBaseLegal</class>        
		<class>portal.entidades.GenBeneficiario</class>
		<class>portal.entidades.GenCargoFuncional</class>
		<class>portal.entidades.GenCategoriaEstatus</class>
		<class>portal.entidades.GenCuentaContable</class>
		<class>portal.entidades.GenDepartamento</class>
		<class>portal.entidades.GenDepartamentoSucursal</class>              
		<class>portal.entidades.GenDetalleEmpleadoDepartame</class>
		<class>portal.entidades.GenDias</class>
		<class>portal.entidades.GenDivisionPolitica</class>
		<class>portal.entidades.GenEmpleadosDepartamentoPar</class>
		<class>portal.entidades.GenEstadoCivil</class>              
		<class>portal.entidades.GenEstados</class>
		<class>portal.entidades.GenGenero</class>                
		<class>portal.entidades.GenGrupoCargo</class>
		<class>portal.entidades.GenGrupoCargoArea</class>
		<class>portal.entidades.GenGrupoCargoSupervisa</class>
		<class>portal.entidades.GenGrupoOcupacional</class>
		<class>portal.entidades.GenIdioma</class>
		<class>portal.entidades.GenInstitucion</class>
		<class>portal.entidades.GenLugarAplica</class>
		<class>portal.entidades.GenMes</class>
		<class>portal.entidades.GenModulo</class>
      		<class>portal.entidades.GenModuloAdjudicador</class>
		<class>portal.entidades.GenModuloDocumento</class>
		<class>portal.entidades.GenModuloEstado</class>
		<class>portal.entidades.GenModuloEstado</class>
		<class>portal.entidades.GenModuloSecuencial</class>
		<class>portal.entidades.GenMotivoEmpleadoDepa</class>
                <class>portal.entidades.GenNivelJerarquico</class>
		<class>portal.entidades.GenPartidaGrupoCargo</class>
		<class>portal.entidades.GenPartidaPresupuestaria</class>
		<class>portal.entidades.GenPeridoRol</class>
		<class>portal.entidades.GenPeriodo</class>
		<class>portal.entidades.GenRegion</class>
      		<class>portal.entidades.GenTipLugaGeog</class>
		<class>portal.entidades.GenTipoAsiento</class>
		<class>portal.entidades.GenTipoContribuyente</class>
		<class>portal.entidades.GenTipoDivisionPolitica</class>
		<class>portal.entidades.GenTipoInstitucion</class>
		<class>portal.entidades.GenTipoPeriodo</class>
		<class>portal.entidades.GenTipoPersona</class>
		<class>portal.entidades.GenTipoPersonaModulo</class>
		<class>portal.entidades.GenTipoVinculacion</class>
		<class>portal.entidades.GenUnidadAdministrativa</class>
		<class>portal.entidades.GenWebservice</class>               
		<class>portal.entidades.GthActividadLaboral</class>
		<class>portal.entidades.GthActividadRuc</class>
		<class>portal.entidades.GthAmigosEmpresaEmplea</class>
		<class>portal.entidades.GthAnioAprobado</class>
		<class>portal.entidades.GthArchivoEmpleado</class>
		<class>portal.entidades.GthBeneficiarioSeguro</class>
		<class>portal.entidades.GthCapacitacionEmpleado</class>
		<class>portal.entidades.GthCargasFamiliares</class>
		<class>portal.entidades.GthCargo</class>
		<class>portal.entidades.GthCasaEmpleado</class>
		<class>portal.entidades.GthConyuge</class>
		<class>portal.entidades.GthCorreo</class>
		<class>portal.entidades.GthCuentaAnticipo</class>
		<class>portal.entidades.GthCuentaBancariaEmpleado</class>
                <class>portal.entidades.GthDescripcionValoracion</class> 
                <class>portal.entidades.GthDetalleValoracion</class> 
		<class>portal.entidades.GthDireccion</class>
		<class>portal.entidades.GthDiscapacidadEmpleado</class>
		<class>portal.entidades.GthDocumentacionEmpleado</class>
		<class>portal.entidades.GthEducacionEmpleado</class>
		<class>portal.entidades.GthEmpleado</class>
		<class>portal.entidades.GthEndeudamientoEmpleado</class>
		<class>portal.entidades.GthEstadoCivil</class>
		<class>portal.entidades.GthExperienciaDocenteEmplea</class>
		<class>portal.entidades.GthExperienciaLaboralEmplea</class>
		<class>portal.entidades.GthFactorValoracion</class>             
		<class>portal.entidades.GthFamiliar</class>
		<class>portal.entidades.GthFichaValoracion</class>                
		<class>portal.entidades.GthGenero</class>
		<class>portal.entidades.GthGradoDiscapacidad</class>
		<class>portal.entidades.GthGrupoEmpleado</class>
		<class>portal.entidades.GthGrupoValora</class>          
		<class>portal.entidades.GthHobie</class>
		<class>portal.entidades.GthIdiomaEmpleado</class>
		<class>portal.entidades.GthInversionEmpleado</class>                
		<class>portal.entidades.GthMarcaVehiculo</class>
		<class>portal.entidades.GthModeloVehiculo</class>
		<class>portal.entidades.GthNacionalidad</class>
		<class>portal.entidades.GthNegocioEmpleado</class>
		<class>portal.entidades.GthNivelViatico</class>
		<class>portal.entidades.GthNivelZonaViatico</class>
		<class>portal.entidades.GthParticipaNegocioEmplea</class>
		<class>portal.entidades.GthPersonaEmergencia</class>
		<class>portal.entidades.GthRegistroMilitar</class>
		<class>portal.entidades.GthSeguroVida</class>
		<class>portal.entidades.GthServidoresComision</class>
		<class>portal.entidades.GthSituacionEconomicaEmplea</class>
		<class>portal.entidades.GthSituacionFinancieraEmple</class>
		<class>portal.entidades.GthTarjetaBancaria</class>
		<class>portal.entidades.GthTarjetaCreditoEmpleado</class>
		<class>portal.entidades.GthTelefono</class>
		<class>portal.entidades.GthTerrenoEmpleado</class>
		<class>portal.entidades.GthTipoActividadEconomica</class>
		<class>portal.entidades.GthTipoArchivo</class>
		<class>portal.entidades.GthTipoCatedra</class>
		<class>portal.entidades.GthTipoContrato</class>
		<class>portal.entidades.GthTipoCuentaBancaria</class>
		<class>portal.entidades.GthTipoDiscapacidad</class>
		<class>portal.entidades.GthTipoDocumento</class>
		<class>portal.entidades.GthTipoDocumentoIdentidad</class>
		<class>portal.entidades.GthTipoEducacion</class>
		<class>portal.entidades.GthTipoEmpleado</class>
		<class>portal.entidades.GthTipoEndeudamiento</class>
		<class>portal.entidades.GthTipoEspecialidad</class>
		<class>portal.entidades.GthTipoGradoFfaa</class>
		<class>portal.entidades.GthTipoHobie</class>
		<class>portal.entidades.GthTipoInversion</class>
		<class>portal.entidades.GthTipoLicenciaConducir</class>
		<class>portal.entidades.GthTipoParentescoRelacion</class>
		<class>portal.entidades.GthTipoRamasFfaa</class>
		<class>portal.entidades.GthTipoSangre</class>
		<class>portal.entidades.GthTipoSindicato</class>
		<class>portal.entidades.GthTipoSituacionMilitar</class>
		<class>portal.entidades.GthTipoTarjetaBancaria</class>
		<class>portal.entidades.GthTipoTelefono</class>
		<class>portal.entidades.GthTipoTituloProfesional</class>
 		<class>portal.entidades.GthTipoTituloProfesional</class>    
		<class>portal.entidades.GthUnionLibre</class>
		<class>portal.entidades.GthValoraGrupo</class>              
		<class>portal.entidades.GthVehiculoEmpleado</class>
		<class>portal.entidades.GthViaticos</class>
		<class>portal.entidades.GthZonaViatico</class>
		<class>portal.entidades.IngCabecera</class>
 		<class>portal.entidades.IngDetalle</class>
                <class>portal.entidades.IngPersona</class>
  		<class>portal.entidades.IngTipo</class>
		<class>portal.entidades.NrhAmortizacion</class>
		<class>portal.entidades.NrhAnticipo</class>
		<class>portal.entidades.NrhAnticipoAbono</class>
		<class>portal.entidades.NrhAnticipoInteres</class>
		<class>portal.entidades.NrhBeneficioEmpleado</class>
		<class>portal.entidades.NrhCabeceraAsiento</class>         
		<class>portal.entidades.NrhCapacidadPago</class>
		<class>portal.entidades.NrhCondicionAnticipo</class>
		<class>portal.entidades.NrhDetalleFacturaGuarderia</class>
		<class>portal.entidades.NrhDetalleRol</class>
		<class>portal.entidades.NrhDetalleRubro</class>
		<class>portal.entidades.NrhDetalleTipoNomina</class>
		<class>portal.entidades.NrhEstadoNomina</class>
		<class>portal.entidades.NrhEstadoRol</class>
		<class>portal.entidades.NrhFormaCalculo</class>
		<class>portal.entidades.NrhGarante</class>
		<class>portal.entidades.NrhHijoGuarderia</class>
		<class>portal.entidades.NrhMotivoAnticipo</class>
		<class>portal.entidades.NrhPrecancelacion</class>
		<class>portal.entidades.NrhRazonBeneficio</class>
		<class>portal.entidades.NrhRetencionCargaFamilia</class>
		<class>portal.entidades.NrhRetencionJudicial</class>
		<class>portal.entidades.NrhRetencionRubroDescuento</class>
		<class>portal.entidades.NrhRol</class>
		<class>portal.entidades.NrhRubro</class>
		<class>portal.entidades.NrhRubroAsiento</class>
		<class>portal.entidades.NrhTipoGarante</class>
		<class>portal.entidades.NrhTipoNomina</class>
		<class>portal.entidades.NrhTipoRetencion</class>
		<class>portal.entidades.NrhTipoRol</class>
		<class>portal.entidades.NrhTipoRubro</class>
		<class>portal.entidades.PreFormaPago</class>
		<class>portal.entidades.PreTipoCompareciente</class>
		<class>portal.entidades.SisAccionAuditoria</class>
		<class>portal.entidades.SisBloqueo</class>
		<class>portal.entidades.SisCampo</class>
		<class>portal.entidades.SisCombo</class>
		<class>portal.entidades.SisCorreo</class>
		<class>portal.entidades.SisObjetoOpcion</class>
		<class>portal.entidades.SisOpcion</class>
		<class>portal.entidades.SisPerfil</class>
		<class>portal.entidades.SisPerfilCampo</class>
		<class>portal.entidades.SisPerfilObjeto</class>
		<class>portal.entidades.SisPerfilOpcion</class>
		<class>portal.entidades.SisPerfilReporte</class>
		<class>portal.entidades.SisPeriodoClave</class>
		<class>portal.entidades.SisReglasClave</class>
		<class>portal.entidades.SisReporte</class>
		<class>portal.entidades.SisSucursal</class>
		<class>portal.entidades.SisTabla</class>
		<class>portal.entidades.SisUsuario</class>
		<class>portal.entidades.SisUsuarioClave</class>
		<class>portal.entidades.SisUsuarioSucursal</class>
		<class>portal.entidades.SriBeneficioTributarioDisc</class>
		<class>portal.entidades.SriDeducibles</class>
		<class>portal.entidades.SriDeduciblesEmpleado</class>
		<class>portal.entidades.SriDetalleImpuestoRenta</class>
		<class>portal.entidades.SriDetalleProyecccionIngres</class>
		<class>portal.entidades.SriImpuestoRenta</class>               
		<class>portal.entidades.SriProyeccionIngres</class>
		<class>portal.entidades.SriReporte</class>
		<class>portal.entidades.TesConciliacionBanco</class>

        	                
  <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.logging.level" value="SEVERE"/>
    </properties>
  </persistence-unit>
</persistence>
